    {% extends "lecture3/base.html" %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Document</title>
    </head>
    <body>
    
        {% block base %}
        <h1>Numbers</h1>
            <div class = "container"> 
                <div class = "row">
                    <div class="col-sm">
                        <form action="{% url 'lecture3:statistics' %}" method="POST" >
                            <div class ="input-group mb-3">
                                <div class="input-group-prepend">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input style="margin-bottom: 15px;" class="btn btn-primary btn-lg" type="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm">
                      <p >Enter numbers with a space. Ex: 3 5 5 3 2 1</p>  
                    </div>
                </div>
            </div>
        
            <hr class = "mt-0 mb-4">
            
            <h3> Numbers : {{ numbers }} </h3>
            <h3> n : {{ n }} </h3>
            <h3> Sum : {{ sum }} </h3>
            <h3> Mean : {{ mean }} </h3>
            <h3> Median : {{ median }} </h3>
            <h3> Mode : {{ mode }} </h3>
            <h3> Variance : {{ var }} </h3>
            <h3> Standard Deviation : {{ sd }} </h3>
        {% endblock %}
    
    </body>
    </html>