{% extends "lecture3/base.html" %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Lecture 1!</title>
    </head>

    <body>
        {% block base %}
        <h1 style="text-align: center;" >Hello, World! Lecture 1 !!!</h1>

        <h4> List of Pages </h4>
        <ul style="background-color: #e7e9eb; border-radius: 10px; padding-left:25px;padding-top:10px;padding-bottom: 10px;">
            <li> <a href="{% url 'lecture1:hello' %}">Hello</a> </li>
            <li> <a href="{% url 'lecture1:headings' %}">Headings</a> </li>
            <li> <a href="{% url 'lecture1:image' %}">Image</a> </li>
            <li> <a href="{% url 'lecture1:lists' %}">Lists</a> </li>
            <li> <a href="{% url 'lecture1:link' %}">Link</a> </li>
            <li> <a href="{% url 'lecture1:table' %}">Table</a> </li>
            <li> <a href="{% url 'lecture1:form' %}">Forms</a> </li>
            <li> <a href="{% url 'lecture1:style' %}">Style</a> </li>
            <li> <a href="{% url 'lecture1:size' %}">Size</a> </li>
            <li> <a href="{% url 'lecture1:descedant' %}">Descedant</a> </li>
            <li> <a href="{% url 'lecture1:attribute' %}">Attribute</a> </li>
            <li> <a href="{% url 'lecture1:hover' %}">Hover</a> </li>
            <li> <a href="{% url 'lecture1:responsive' %}">Responsive</a> </li>


        </ul>

        
        <style>
            .myDiv{
                border-left: 4px outset black;
                background-color: #e7e9eb;
                border-radius: 15px;
                width: 50%;
                height: 50px;
            }

        </style>

        <div class = "myDiv"> 
            <h3 style="text-align: center;"> Test </h3>
         </div>
        {% endblock %}     
    </body>
</html>