<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Size</title>
        <style>
            .div2{
                background-color: orange;
                width: 200px;
                height: 200px;
                padding: 20px;
                margin: 20px;
                display: inline-block;
            }

            .div3{
                background-color: olivedrab;
                width: 200px;
                height: 200px;
                padding: 20px;
                margin: 20px;
            }
        </style>
        <!-- 
            Common Css 
            padding : Inside
            margin  : Outside

        -->
    </head>
    <body>
        <div style="position: fixed; padding: 0;margin: 0; background-color:orangered;">

            <div class="div2">
                    Hello, world!
            </div> 

            <div class="div2">
                Hello again!
            </div>

            <div class="div2">
                Hello again!
            </div>

            <div class="div3">
                Hello again!
            </div>

            <div class="div3">
                Hello again!
            </div>

            <div class="div3">
                Hello again!
            </div>

        </div>
    </body>
</html>