{% extends "lecture3/layout.html" %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Main!</title>
    </head>

    <body>
        {% block base %}
        <h1 style="text-align: center;">CS50's Web Programming with Python and JavaScript 2020</h1>

        
        <ul>

            <li>
                <a href="{% url 'lecture1:index' %}" style="font-size: xx-large;">Lecture 0 - HTML and CSS </a>
            </li>
            <li>
                <a  style="font-size: xx-large;">Lecture 1 -  </a>
            </li>
            <li>
                <a  style="font-size: xx-large;">Lecture 2 -  </a>
            </li>

            <li>
                <a href="{% url 'lecture3:index' %}" style="font-size: xx-large;">Lecture 3 - Django </a>
            </li>

        </ul>

        {% endblock %}
    </body>

</html>